@font-face {
  font-family: "YS Geo";
  src: url("../assets/fonts/YS-Geo-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "YS Geo";
  src: url("../assets/fonts/YS-Geo-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-neutral-100: #fff;
  --color-neutral-300: #e8e9eb;
  --color-neutral-950: #292b31;
  --color-dark: #000;

  --gradient-linear-1: linear-gradient(5deg, #292b31 30%, #7e8597 108%);
  --gradient-linear-2: linear-gradient(120deg, rgba(255, 255, 255, 0.6) 2%, rgba(255, 255, 255, 0.12) 100%);
  --gradient-linear-3: linear-gradient(0deg, #fff 0%, #d4d4d4 100%);

  --bs-font-family: "YS Geo", sans-serif;
  --bs-font-weight: 400;
  --bs-font-size: 18px;
  --bs-line-height: 1.2;
  --bs-transition: 0.3s ease-in-out;
  --bs-container: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
  font: inherit;
}

input,
textarea,
button {
  font: inherit;
  background: none;
  color: inherit;
  outline: none;
  border: none;
}

button,
a {
  cursor: pointer;
  user-select: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg {
  display: inline-flex;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

:disabled {
  pointer-events: none;
  cursor: default;
}

html {
  scroll-behavior: auto;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

body {
  font: var(--bs-font-weight) var(--bs-font-size) / var(--bs-line-height) var(--bs-font-family);
  background: var(--color-neutral-300);
  color: var(--color-dark);
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  grid-template-columns: minmax(0, 1fr);
  min-height: 100dvh;
}

.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--bs-container);
}

@media (min-width:640px) {
  .container {
    max-width: calc(640px  + var(--bs-container) * 2);
  }
}

@media (min-width:1024px) {
  .container {
    max-width: calc(1024px  + var(--bs-container) * 2);
  }
}

@media (min-width:1280px) {
  .container {
    max-width: calc(1280px + var(--bs-container) * 2);
  }
}




br {
  display: none;
}

br.display {
  display: unset;
}

svg {
  overflow: visible;
}

.u-border-gradient {
  position: relative;
}

.u-border-gradient::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: inherit;
  background: var(--gradient-linear-3);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  pointer-events: none;
}

.u-glass-box {
  background: #292b31cc;
  box-shadow: 0 4px 10px #0000004c,
    inset 0 1px 0 rgba(255, 255, 255, 0.4),
    inset 1px 0 0 rgba(255, 255, 255, 0.32),
    inset 0 -1px 1px rgba(0, 0, 0, 0.13),
    inset -1px 0 1px rgba(0, 0, 0, 0.11);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
}

.title {
  display: inline-flex;
  justify-content: center;
  text-align: center;
  font: 500 32px/1 var(--bs-font-family);
  letter-spacing: -0.04em;
  background: var(--gradient-linear-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  text-align: center;
  box-shadow: 0 4px 10px #0000004d;
  transition: opacity var(--bs-transition);
}

@media (hover:hover) {
  .button:hover {
    opacity: 0.8;
  }
}

@media (hover:none) {
  .button:active {
    opacity: 0.8;
  }
}

.button--primary {
  padding: 12px 20px;
  font-size: 14px;
  border-radius: 20px;
  background: var(--gradient-linear-1);
  color: var(--color-neutral-100);
}

.button--primary::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: inherit;
  background: var(--gradient-border-light);
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  pointer-events: none;
}

.button--light {
  border-radius: 15px;
  background: var(--color-neutral-100);
  position: relative;
}

.button--light::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: inherit;
  background: var(--gradient-linear-3);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  pointer-events: none;
}

.button--light span {
  font: 500 16px/1.3 var(--bs-font-family);
  background: var(--gradient-linear-1);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.header {
  position: fixed;
  top: 13px;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  z-index: 100;
}

.header__nav {
  position: relative;
  display: flex;
  width: fit-content;
  margin: 0 auto;
  gap: 8px;
  padding: 4px;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0px 3px 48px 0px #292B311C;
}

.header__nav::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: inherit;
  background: var(--gradient-linear-3);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  pointer-events: none;
}

.header__row::before {
  content: none;
}

.header__item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 13px;
  border-radius: 20px;
  background: var(--gradient-linear-2);
  backdrop-filter: blur(16px);
  box-shadow: 0px 2.5px 40px 0px #292B311C;
}

.header__item span {
  font-size: var(--font-size-button);
  font-weight: var(--font-weight-regular);
}

.header__item:nth-child(2) {
  display: none;
}

.header__logo {
  display: flex;
  max-width: 144px;
  max-height: 20px;
}

.hero-decor {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}

.hero-decor svg, .hero-decor img {
  width: 100%;
}

.hero {
  display: flex;
  overflow: hidden;
  min-height: 100vh;  
}

.hero .container {
  position: relative;
  display: flex;
}

.hero__box {
  display: none;
}

.hero__data-list {
  display: flex;
  align-items: center;
  gap: 8px;
}

.hero__data-item {
  padding: 6px 13px;
  text-align: center;
  font-size: 14px;
  border-radius: 20px;
  background: var(--gradient-linear-2);
  backdrop-filter: blur(20px);
  box-shadow: 0px 3px 48px 0px rgba(40, 44, 50, 0.12);
}

.hero__data-item::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 20px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(212, 212, 212, 1) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.hero__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 30px;
  border-radius: 44px;
  background: rgba(255, 255, 255, 0.212);
  box-shadow: 0px 3px 12.3px 0px #292B311C;
  backdrop-filter: blur(4px);
}

.hero__logo svg {
  width: 292px;
  height: 42px;
}

.hero__company-list {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  padding: 15px 18px;
  gap: 8px;
  border-radius: 35px;
  background: rgba(0, 0, 0, 0.03);
  backdrop-filter: blur(4px);
  box-shadow: 0px 3px 12.3px 0px #292B314F;
}

.hero__company-item {
  width: 30px;
  height: 30px;
}

.hero__company-item .icon {
  width: 100%;
  height: 100%;
}

.hero__text {
  padding: 20px;
  border-radius: 16px;
  background: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
  box-shadow: 0px 3px 48px 0px #292B311C;
}

.hero__text p {
  text-wrap: balance;
  font-size: 16px;
  line-height: 1.3;
  letter-spacing: -0.04em;
  opacity: 0.8;
}

.key {
  padding: 6px 13px;
  margin-left: auto;
  margin-top: -10px;
  border-radius: 20px;
  background: var(--gradient-linear-2);
  backdrop-filter: blur(20px);
  box-shadow: 0px 3px 48px 0px #292B311C;
}

.key::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: 20px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(212, 212, 212, 1) 100%
  );
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: xor;
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.key span {
  font-size: 14px;
  text-align: center;
}

.hero__box.--mobile {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  margin-top: 20px;
  margin-bottom: 32px;
  padding-top: 60px;
  padding-bottom: 45px;
}

.hero__box.--mobile .hero__data-list {
  justify-content: center;
  margin-bottom: 98px;
}

.hero__box.--mobile .hero__logo {
  margin-top: -8px;
}

.hero__box.--mobile .hero__company-list {
  margin-right: auto;
  z-index: 2;
}

.hero__box.--mobile .hero__text {
  width: fit-content;
  margin-top: 135px;
  margin-inline: auto;
}

br.predlog {
  display: unset;
}

.hero__box.--mobile .hero__text p {
  max-width: fit-content;
  width: fit-content;
}

.marquee {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  background-color: var(--color-neutral-950);
  padding-block: 16px;
}

.marquee__wrapper {
  display: flex;
  align-items: center;
  gap: 12px;
  white-space: nowrap;
}

.marquee span {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  gap: 12px;
  font-size: 20px;
  color: var(--color-neutral-100);
}

.marquee span svg {
  width: 22px;
  height: 22px;
}

.about {
  padding-top: 80px;
}

.about .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.about__list {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}

.about__item {
  position: relative;
  padding: 4px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  box-shadow: 0px 3px 30px 0px rgba(40, 44, 50, 0.10);
  transition: transform var(--bs-transition);
  cursor: pointer;
}

@media (hover: hover) {
  .about__item:hover {
    transform: scale(1.08);
  }
}

.about__item::before,
.about__card::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: inherit;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(212, 212, 212, 1) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.about__card {
  position: relative;
  padding: 20px;
  height: 100%;
  border-radius: 16px;
  background: var( --gradient-linear-2);
}

.about__card-inner {
  display: flex;
  flex-direction: column;
  gap: 32px;
  text-wrap: balance;
}

.about__card-inner .icon {
  width: 22px;
  height: 22px;
}

.about__card-box {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.about__card-title {
  font-weight: 500;
  font-size: 20px;
}

.about__card-description {
  font-size: 14px;
  opacity: 0.8;
}

.for-whom-decor {
  display: none;
  position: absolute;
  z-index: -1;
}

.for-whom {
  padding-block: 80px;
}

.for-whom .container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.for-whom__list {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 4px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 20px;
  background: var(--gradient-linear-2);
}

.for-whom__list::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: inherit;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(212, 212, 212, 1) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.for-whom__item {
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 20px;
  text-align: start;
  font-size: 20px;
  border-radius: 16px;
  backdrop-filter: blur(20px);
  background: var(--gradient-linear-2);
  box-shadow: 0px 4px 48px 0px #292B3126; 
}

.for-whom__item::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: inherit;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(212, 212, 212, 1) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  z-index: 1;
  pointer-events: none;
}

.for-whom__item .icon {
  flex-shrink: 0;
  width: 22px;
  height: 22px;
  transform: rotate(-90deg);
}

.program-decor .decor {
  display: none;
}

.program-decor .decor.--tablet {
  display: none;
}

.program-decor .decor.--mobile {
  display: block;

}

.program-decor .decor.--mobile svg {
  transform: scale(0.9);
}

.program-decor {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.program {
  position: relative;
  padding-block: 130px;
  background-color: var(--color-neutral-950);
  overflow: hidden;
}

.program__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100%;
}

.program__item {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  text-align: center;
  text-wrap: balance;
  font-weight: 500;
  font-size: 20px;
  border-radius: 25px;
  background: rgba(40, 44, 50, 0.3);
  backdrop-filter: blur(20px);
  color: var(--color-neutral-100);
}

.program__item::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px;
  background: linear-gradient(0deg, rgba(255, 255, 255, .1), rgba(212, 212, 212, .1));
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  mask-composite: exclude;
  pointer-events: none;
}

.program__text {
  display: inline-block;
  white-space: pre-wrap;
  max-width: 100%;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.faq {
  padding-top: 80px;
}

.faq-decor {
  display: none;
  position: absolute;
  bottom: -88%;
  z-index: -1;
}

.faq .container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 48px;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 4px;
  width: 100%;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid transparent;
  border-image-source: var(--gradient-linear-3);
  backdrop-filter: blur(20px);
  box-shadow: 0 3px 30px rgba(40, 44, 50, 0.12);
}

.accordion__item {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  background: var(--gradient-linear-2);
  backdrop-filter: blur(20px);
  box-shadow: 0 3px 30px rgba(40, 44, 50, 0.12);
}

.accordion__button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  width: 100%;
  text-align: start;
  font: 500 20px var(--bs-font-family);
}

.accordion__icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: rgba(40, 44, 50, 0.05);
  box-shadow: 0 0 4px rgba(40, 44, 50, 0.2);
}

.accordion__icon .icon {
  width: 16px;
  height: 16px;
  flex-shrink: 0;
  fill: var(--color-neutral-950);
  opacity: 0.5;
  transition: opacity var(--bs-transition), transform var(--bs-transition);
}

.accordion__item.is-open .accordion__icon .icon {
  transform: rotate(45deg);
  opacity: 1;
}

.accordion__content {
  overflow: hidden;
  height: 0;
  padding: 0 65px 0 20px;
  font-size: 14px;
  line-height: 1.3;
  opacity: 0;
  transition: height var(--bs-transition), opacity var(--bs-transition);
}

.accordion__item.is-open .accordion__content {
  opacity: 0.8;
}

.map {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.map iframe {
  margin-inline: 10px;
  width: 100%;
  border: none;
  border-radius: 20px;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer__top {
  padding-block: 80px;
  width: 100%;
}

.footer__top .container,
.footer__copyright .container {
  display: flex;
  justify-content: center;
}

.footer__box {
  position: relative;
  padding: 4px;
  width: 100%;
  border-radius: 20px;
}

.footer__box-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  padding: 20px;
  border-radius: 16px;
  text-align: center;
}

.footer__box-title {
  font-size: 20px;
  color: var(--color-neutral-100);
}

.footer__box-button {
  width: 100%;
}

.footer__copyright {
  width: 100%;
  background: var(--color-neutral-950);
}

.footer__copyright-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-block: 32px;
  gap: 8px 12px;
  max-width: 172px;
}

.footer__age,
.footer__year,
.footer__privacy-policy {
  display: inline-flex;
  text-align: center;
  font-size: 12px;
  color: var(--color-neutral-100);
}

.footer__privacy-policy {
  text-decoration: underline;
}

@media (hover:hover) {
  .footer__privacy-policy:hover {
    text-decoration: none;
  }
}

.modal {
  display: flex;
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%;
  background: rgba(0,0,0,0.5);
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--bs-transition);
}

.modal.is-open {
  opacity: 1;
  pointer-events: unset;
}

.modal__content {
  background: var(--color-neutral-100);
  padding: 20px;
  border-radius: 20px;
  width: 90%;    
  max-width: 650px; 
  max-height: 90%;
  overflow: auto;
  transform: translateY(24px);
  transition: transform var(--bs-transition);

  scrollbar-width: none; 
  -ms-overflow-style: none;
}

.modal.is-open .modal__content {
  transform: translateX(0);
}

.modal__content::-webkit-scrollbar {
  display: none; 
}

.modal__content iframe {
  width: 100%;
  height: 100%;
}


@media (min-width:640px) {

  .title {
    font-size: 48px;
  }

  .button--light span {
    font-size: 18px;
  }

  .hero-decor {
    width: 100%;
  }

  .hero {
    min-height: 482px;
  }

  .hero__box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    margin-top: 95px;
    margin-bottom: 38px;
    padding: 30px;
    width: 100%;
  }

  .hero__box.--mobile {
    display: none;
  } 

  .hero__data-list {
    margin-top: 20px;
  }

  .hero__data-item {
    font-size: 16px;
    border-radius: 20px;
  }

  .hero__logo {
    position: absolute;
    top: 37%;
    right: 0;
    padding: 10px 30px;
  }

  .hero__logo svg {
    width: 252px;
    height: 62px;
  }

  .hero__company-list {
    padding: 18px 24px;
    border-radius: 45px;
    gap: 10px;
  }

  .hero__company-item {
    width: 40px;
    height: 40px;
  }

  .hero__text {
    position: relative;
    margin-top: 20px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(20px);
    box-shadow: 0px 4px 48px 0px rgba(34, 38, 42, 0.05);
  }

  .hero__text p {
    font-size: 18px;
  }

  .marquee span {
    font-size: 22px;
  }

  .about {
    padding-top: 100px;
  }

  .about__list {
    max-width: 500px;
    margin: 0 auto;
  }

  .about__item {
    padding: 8px;
  }

  .about__card-inner .icon {
    width: 24px;
    height: 24px;
  }

  .about__card-title {
    font-size: 30px;
  }

  .about__card-description {
    font-size: 16px;
    line-height: 1.3;
  }

  .for-whom {
    padding-block: 100px;
  }

  .for-whom__list {
    padding: 8px;
    max-width: 990px;
    margin: 0 auto;
  }

  .for-whom__item {
    gap: 16px;
    font-size: 30px;
  }

  .for-whom__item .icon {
    width: 24px;
    height: 24px;
  }

  .program-decor {
    top: 5%;
    left: unset;
    transform: unset;
  }

  .program-decor .decor.--tablet {
    display: block;
  }

  .program-decor .decor.--mobile {
    display: none;
  }

  .program {
    padding-block: 85px;
  }

  .program__list {
    gap: 12px;
    max-width: 768px;
    margin: 0 auto;
  }

  .program__item {
    font-size: 30px;
    border-radius: 30px;
  }

  .faq {
    padding-top: 100px;
  }

  .faq-decor {
    display: block;
    top: 50px;
  }

  .accordion {
    padding: 8px;
  }

  .accordion__button {
    font-size: 30px;
  }

  .accordion__icon {
    width: 38px;
    height: 38px;
  }

  .accordion__icon .icon {
    width: 17px;
    height: 17px;
  }

  .accordion__content {
    font-size: 16px;
  }

  .footer__top {
    padding-block: 100px;
  }

  .footer__box {
    padding: 8px;
    max-width: 500px;
  }

  .footer__box-inner {
    gap: 24px;
  }

  .footer__box-title {
    font-size: 30px;
  }

  .footer__copyright .container {
    justify-content: flex-end;
  }

  .footer__copyright-inner {
    flex-wrap: nowrap;
    gap: 32px;
    max-width: fit-content;
  }
}

@media (min-width:1024px) {
  .button--primary {
    font-size: 21px;
  }

  .header {
    top: 20px;
  }

  .header__nav {
    backdrop-filter: none;
  }

  .header__nav::before {
    content: none;
  }

  .header__item:nth-child(2) {
    display: block;
  }
  
  .header__row {
    position: relative;
    display: flex;
    padding: 3px;
    border-radius: 30px;
    padding: 12px;
    backdrop-filter: blur(20px);
    box-shadow: 0px 3px 48px 0px #292B311C;
    gap: 8px;
  }

  .header__row::before {
    content: "";
    position: absolute;
    inset: 0;
    padding: 1px;
    border-radius: inherit;
    background: var(--gradient-linear-3);
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    mask-composite: exclude;
    pointer-events: none;
  }

  .header__item {
    padding: 10px 16px;
  }

  .header__item span {
    font-size: 21px;
  }

  .header__item:nth-child(2) {
    display: block;
  }

  .header__logo {
    max-width: 172px;
    max-height: 24px;
  }

  .hero {
    min-height: 654px;
  }

  .hero__box {
    margin-top: 45px;
    padding: 20px 40px;
  }

  .hero__data-list {
    margin-top: 80px;
    gap: 8px;
  }

  .hero__data-item {
    padding: 8px 24px;
    font-size: 18px;
  }

  .hero__logo {
    position: absolute;
    top: 41%;
    transform: translateY(-50%);
    right: 0;
    padding: 38px 50px;
    border-radius: 92px;
  }

  .hero__logo svg {
    width: 480px;
    height: 72px;
  }

  .hero__company-list {
    padding: 22px 30px;
    border-radius: 72px;
    gap: 16px;
  }

  .hero__company-item {
    width: 54px;
    height: 54px;
  }

  .hero__text {
    left: 0;
    margin-top: 30px;
    padding: 24px 50px;
    border-radius: 35px;
  }

  .about__list {
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
    max-width: 100%;
  }

  .program-decor {
    top: -20%;
  }

  .program-decor .decor, 
  .for-whom-decor{
    display: block;
  }

  .program-decor .decor.--tablet {
    display: none;
  }

  .program-decor .decor.--mobile {
    display: none;
  }

  .faq-decor {
    display: block;
    bottom: -80%;
  }

  .accordion {
    max-width: 990px;
  }
}

@media (min-width:1280px) {
   br {
    display: unset;
  }

  br.predlog {
    display: none;
  }

  .hero {
    min-height: 806px;
  }

  .hero__box {
    margin-block: 42px;
    padding: 100px 90px;
  }

  .hero__data-list {
    margin-top: 100px;
    gap: 8px;
  }

  .hero__data-item {
    padding: 8px 24px;
    font-size: 18px;
  }

  .hero__logo {
    position: absolute;
    top: 46%;
    transform: translateY(-50%);
    right: 0;
    padding: 52px 60px;
    border-radius: 92px;
  }

  .hero__logo svg {
    width: 614px;
    height: 88px;
  }

  .hero__company-list {
    padding: 30px 38px;
    border-radius: 72px;
    gap: 16px;
  }

  .hero__company-item {
    width: 64px;
    height: 64px;
  }


  .hero__text {
    display: flex;
    left: 0;
    margin-top: 30px;
    padding: 24px 50px;
    font-size: 24px;
    border-radius: 35px;
  }

  .hero__text p {
    font-size: 24px;
  }

  .marquee__wrapper {
    gap: 24px;
  }

  .marquee span {
    gap: 24px;
    font-size: 32px;
  }

  .marquee span svg {
    width: 28px;
    height: 28px;
  }

  .about {
    padding-top: 135px;
  }

  .about .container {
    gap: 64px;
  }

  .about__item {
    padding: 12px;
    border-radius: 40px;
  }

  .about__card {
    border-radius: 30px;
  }

  .about__card-inner .icon {
    width: 28px;
    height: 28px;
  }

  .about__card-title {
    font-size: 33px;
  }

  .about__card-description {
    font-size: 18px;
    line-height: 1.2;
  }

  .for-whom-decor {
    top: 80px;
  }

  .for-whom {
    padding-block: 135px;
  }

  .for-whom .container {
    gap: 64px;
  }

  .for-whom__list {
    padding: 12px;
    border-radius: 40px;
  }

  .for-whom__item {
    gap: 24px;
    font-size: 32px;
    border-radius: 30px;
  }

  .for-whom__item .icon {
    flex-shrink: 0;
    width: 28px;
    height: 28px;
  }

  .program-decor {
    top: -25%;
  }

  .program {
    padding-block: 95px;
    margin-top: 135px;
  }

  .program__item {
    padding: 24px;
    font-size: 32px;
    border-radius: 35px;
  }

  .page {
    overflow: hidden;
  }

  .faq-decor {
    display: block;
    top: 220px;
  }

  .faq {
    padding-top: 135px;
  }

  .accordion {
    padding: 12px;
    border-radius: 40px;
  }

  .accordion__item {
    border-radius: 30px;
  }

  .accordion__button {
    font-size: 32px;
  }

  .accordion__content {
    font-size: 18px;
    line-height: 1.2;
  }

  .title {
    font-size: 85px;
  }

  .button {
    padding: 18px;
  }

  .button--primary {
    padding: 10px 30px;
    font-size: 21px;
  }


  .button--light span {
    font-size: 24px;
  }

  .faq .container {
    padding-top: 135px;
    gap: 64px;
  }

  .footer__top {
    padding-block: 135px;
  }

  .footer__box {
    padding: 20px;
    max-width: 656px;
    border-radius: 40px;
  }

  .footer__box-inner {
    gap: 24px;
    padding: 32px;
    border-radius: 30px;
  }

  .footer__box-title {
    font-size: 32px;
  }

  .footer__copyright-inner {
    padding-block: 44px;
  }
}
